<?xml version="1.0"?>
<launch>
	<!-- rosbag play -->
	<arg name="path" default="$(find low-cost-lidar-comparison)/bag_files" />
	<arg name="rplidar" default="rplidar_1.bag" />
	<arg name="ydlidar" default="ydlidar_1.bag" />
	<node pkg="rosbag" type="play" name="player" output="screen" args="$(arg path)/$(arg rplidar) $(arg path)/$(arg ydlidar) --clock"/>
	
	<!-- static transformation between scan frames and maps -->
	<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 map laser_rplidar 100" />
	
	<!-- RViz -->
	<node name="rviz" pkg="rviz" type="rviz" required="false"/>
</launch>
